*_wire.txt
*_wire.bin
.DS_Store
*.o
*.o.d
*.class
*.a
*.swp
*~
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.suo
*.keystore
**/bin/**
**/gen/**
**/libs/**
**/obj/**
**/*.dir/**
**/CMakeFiles/**
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeCache.txt
**/CMakeTestfile.cmake
**/Debug/**
**/Release/**
build.xml
local.properties
project.properties
proguard-project.txt
Makefile
tags
CMakeLists.txt.user
CMakeScripts/**
CTestTestfile.cmake
build/Xcode/FlatBuffers.xcodeproj/project.xcworkspace/**
build/Xcode/FlatBuffers.xcodeproj/xcuserdata/**
FlatBuffers.xcodeproj/
java/.idea
java/*.iml
.idea
*.iml
target
**/*.pyc
build/VS2010/FlatBuffers.sdf
build/VS2010/FlatBuffers.opensdf
build/VS2010/ipch/**/*.ipch
*.so
.cproject
.settings/
.project
node_modules/
.ninja_deps
.ninja_log
build.ninja
rules.ninja
.vscode
*.pro.user
data/*.db
build
output
*.user.*

